.scroll::-webkit-scrollbar {
  width: 5px;
  border-radius: 10px;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 10px;
}

.scroll2::-webkit-scrollbar {
  width: 5px;
  border-radius: 10px;
}

.scroll2::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 10px;
}

.background {
  background-image: url("/background.png");
  background-size: 100%;
  background-repeat: no-repeat;
}
